<div class="box">
  <div class="columns mb-5">
    <div class="column">
      <h3 class="title is-3 has-text-centered"> <%= @channel.title %> </h3>
    </div>
  </div>

  <div class="columns mb-5">
    <div class="column">
      <div class="buttons">
        <%= link_to "Inserir novo vídeo",
                    new_channel_video_path(@channel),
                    class: "button is-dark is-fullwidth" %>
      </div>
    </div>
  </div>

  <div class="table-container">
    <table class="table is-fullwidth is-striped is-hoverable">
      <thead>
        <th>#</th>
        <th>Nome do vídeo</th>
        <th>Estado</th>
        <th>Ações</th>
      </thead>
      <tbody>
        <%- @videos.each do |video| %>
          <tr>
            <td><%= video.id %></td>
            <td><%= video.title %></td>
            <td><%= video.status_humanize %></td>
            <td>
              <%= link_to "Editar", edit_channel_video_path(@channel, video), class: "button is-small is-info" %>
              <%= link_to "Visualizar", channel_video_path(@channel, video), class: "button is-small is-info" %>
              <%= link_to "Excluir", channel_video_path(@channel, video), method: :delete, class: "button is-small is-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
